html, body {
    background-color: #000000;
    font-family: "helvetica";
}

.content {
    color: #ffffff;
}

.navbar {
    overflow: hidden;
    background-color: #ffffff;
}

.navbar a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

.navbar a.right {
    float: right;
}

.navbar a:hover {
    background-color: #000000;
    color: #ffffff;
}

.maincontent {
    float: center;
    text-align-last: center;
    margin-right: 10%;
    margin-left: 10%;
}

/* home */

.video {
    text-align-last: center;
}

.navbar2 {
    overflow: hidden;
    background-color: #ffffff;
}

.navbar2 a {
    float: center;
    display: block;
    color: #000000;
    text-align: center;
    text-decoration: none;
    text-align: center;
}



.navbar2 a:hover {
    background-color: #000000;
    color: #ffffff;
}



/*Thesis*/

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #ffffff;
  background-color: #000000;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: #ffffff;
  color: #000000;
}

.text {
  color: #ffffff;
  background-color: #000000;    
  font-size: 15px;
  padding: 10px 15px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #ffffff;
  background-color: #000000;    
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.thesisstatement {
    background-color: #000000;
    -webkit-animation-name: textbackground; 
    -webkit-animation-duration: 4s; 
    animation-name: textbackground;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;


}

.thesisstatement2 {
    color: #ffffff;
    -webkit-animation-name: textcolor; 
    -webkit-animation-duration: 4s; 
    animation-name: textcolor;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-left: 200px;
    margin-right: 200px;


}

@-webkit-keyframes textbackground {
  from {background-color: #000000;}
  to {background-color: #ffffff;}
}

@keyframes textbackground {
  from {background-color: #000000;}
  to {background-color: #ffffff;}
}

@-webkit-keyframes textcolor {
  from {color: #ffffff;}
  to {color: #000000;}
}

@keyframes textcolor {
  from {color: #ffffff;}
  to {color: #000000;}
}

.navbar6 {
    overflow: hidden;
    background-color: #ffffff;
}

.navbar6 a {
    float: center;
    display: block;
    color: #000000;
    text-align: center;
    text-decoration: none;
    text-align: center;
}



.navbar6 a:hover {
    background-color: #000000;
    color: #ffffff;
}

.thesis-image {
	text-align-last: left;
	margin-left: 150px;
	transform: translateX(-50%), translateY(50%)
}

.thesis-image2 {
	text-align-last: left;
	margin-left: 100px;
	
}

.explosion {
	width: 60%;
	
}

/*Second World War |||||||||*/

* {
  box-sizing: border-box;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
    background-color: #000000;
        -webkit-animation-name: timelineanimation; 
    -webkit-animation-duration: 10s; 
    animation-name: timelineanimation;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-webkit-keyframes timelineanimation {
  from {background-color: #000000;}
  to {background-color: #ffffff;}
}

@keyframes timelineanimation {
  from {background-color: #000000;}
  to {background-color: #ffffff;}
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: black;
  border: 4px solid white;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left2 {
  left: 0;
}

.right2 {
  left: 50%;
}

.left2::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;

}

.right2::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;

}


.right2::after {
  left: -16px;
}

.content2 {
  padding: 20px 30px;
  background-color: white;
  color: red;    
  position: relative;
  border-radius: 6px;
    -webkit-animation-name: textcolor3; 
    -webkit-animation-duration: 10s; 
    animation-name: textcolor3;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-delay: 5s;
}
@-webkit-keyframes textcolor3 {
  from {background-color: #ffffff;}
  to {background-color: #000000;}
}

@keyframes textcolor3 {
  from {background-color: #ffffff;}
  to {background-color: #000000;}
}


#x {
 color: black;
 font-weight: bold;
  -webkit-animation:colorchange 10s infinite alternate;
    animation-delay: 5s;
}

@-webkit-keyframes colorchange {
  from {color: black}
  to {color: white}    
}

@media screen and (max-width: 600px) {
  .timeline::after {
  left: 31px;
  }
  
  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  .container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  .left2::after, .right2::after {
  left: 15px;
  }
  
  .right2 {
  left: 0%;
  }
}

/*Triumph page*/

.triumph-text {
	margin-left: 100px;
	margin-right: 100px;
	font-family: inherit;
	
}

/*research page ||||*/
.navbar3 {
    overflow: hidden;
    background-color: #ffffff;
}

.navbar3 a {
    float: center;
    display: block;
    color: #000000;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

.navbar3 a.right {
    float: right;
}

.navbar3 a:hover {
    background-color: #000000;
    color: #ffffff;
}
